.navButtons {
  display: flex;
}

.categoryButton {
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
  padding: 10px;
  /* background-color: lightblue; */
  /* border: 1px solid blue; */
  /* display: inline-block; */
}

.text {
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.searchBar {
  width: 80%;
  margin: auto;
}

#classBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.items {
  margin: 20px;
}
